body {
  background-color: #fbf6f0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
h1 
{
  color: #595b83;
  font-family: 'Noto Serif JP', serif;
}
h2 {
  color: #595b83;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 2.5rem;
}

h3 
{
  color: #556052;
  font-family: 'Halant', serif;
}

p {
  line-height: 2.3;
  color: #556052;
}

hr {
  border: solid #1d2d50 2px;
  border-bottom: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

a{
  color: #595b83;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #a685e2;
}

.button
{
  background-color: transparent;
  border: solid;
  border-width: 1px;
  border-color: #595b83;
  padding: 1.5%;
  text-align: center;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover
{
  border-color: #a685e2;
}


/* first container done */
.front
{
  background-color: #fcf1f1;
  display: flex;
  float: left;
}

.front-text
{
  text-align: center;
  margin: auto auto auto auto;
  font-size: 150%;
}

.front-image
{
  width: 50%;
}

/* middle container */
.middle-container
{
  display: flex;
  float: left;
}

.middle-image
{
  width: 35%;
}

.middle-text
{
  font-size: 120%;
  padding: 5%;
}

/* fourth container */
.fifth-container
{
  padding: 30px 0px;
}

.skill-box
{
  display: flex;
  float: left;
  margin: 2% 18%;
}

.skill-logo
{
  width: 5%;
  margin: 5%;
  padding: 2%;
  border: solid;
  border-width: 1px;
  border-color: #595b83;
  border-radius: 30px;
}

.skill-text
{
  text-align: left;
}

.sixth-container
{
  text-align: center;
  padding: 5%;
}

.contact-button
{
  margin-top: 4%;
}

.seventh-container {
  text-align: center;
  background-color: #ffcbcb;
  padding: 50px 0 20px;
}

.copyright {
  color: #595b83;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #ffcbcb;
  background-image: -webkit-linear-gradient(top, #ffcbcb, #e6739f);
  background-image: -moz-linear-gradient(top, #ffcbcb, #e6739f);
  background-image: -ms-linear-gradient(top, #ffcbcb, #e6739f);
  background-image: -o-linear-gradient(top, #ffcbcb, #e6739f);
  background-image: linear-gradient(to bottom, #ffcbcb, #e6739f);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #f5fbf1;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ffcbcb;
  background-image: -webkit-linear-gradient(top, #f3d3d3, #e41749);
  background-image: -moz-linear-gradient(top, #f3d3d3, #e41749);
  background-image: -ms-linear-gradient(top, #f3d3d3, #e41749);
  background-image: -o-linear-gradient(top, #f3d3d3, #e41749);
  background-image: linear-gradient(to bottom, #f3d3d3, #e41749);
  color: #f5fbf1;
  text-decoration: none;
}
